.myFile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    background-color: #3D3242;
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
label b{
    color: #EECD86;
}
textarea{
    width: 400px;
    height: 300px;
    background-color: #333;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
    color: #EECD86;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
@media only screen and (max-width:400px) {
    label , textarea{
        width: 300px;
    }
}